body {
    margin: 0;
}

div {
    /*border: 1px solid darkblue;*/
    /*background-color: cadetblue;*/
}

#overlay {
    width: 1920px;
    height: 1200px;
    border: solid 1px black;
}

.bar {
    background-color: #00ccff;
    height: 55px;
    color: black;
    font-family: Verdana, Arial, sans-serif;
    font-size: 26pt;
    width: 100%;
}

#header {
    margin: 0;
    border-bottom: 2px solid #004ca0;
}

#header img {
    width: 40px;
    height: 40px;
    margin-right: 4px;
}

#footer {
    margin-top: 1088px;
    border-top: 2px solid #004ca0;
}